In [15]:
import pandas as pd

In [16]:
informe = pd.read_excel('informe.xlsx', skiprows=5, usecols=[3,4,7,13])
informe = informe[informe['Guia']>1]
informe = informe.astype({'CCosto': 'int', 'Guia': 'int'})
informe['Orden de Compra'] = informe['Orden de Compra'].apply(lambda x: int(x))
informe = informe[['Guia', 'Orden de Compra', 'CCosto']]
informe

        Guia  Orden de Compra  CCosto
0    5399593         30752452    1513
1    5394592         30753502    1148
2    5394589         30753553    1140
3    5394678         30753576    1124
4    5394588         30753607    1122
..       ...              ...     ...
576  5399608       4300002731    1541
577  5399609       4300002731    1523
578  5399610       4300002731    1533
579  5407604       4200185031    2400
580  5407606       4200185031    2403

[581 rows x 3 columns]

In [17]:
guias_por_oc = informe['Orden de Compra'].value_counts()
guias_por_oc

Orden de Compra
4300002731    110
4200186472    101
4200187569     99
4200187317     10
4200185037      9
             ...
4200187288      1
4200187289      1
4200187291      1
4200187292      1
4200187307      1
Name: count, Length: 203, dtype: int64

In [18]:
oc_individual = guias_por_oc[guias_por_oc.values==1].index
filtro_oc_individual = informe['Orden de Compra'].isin(oc_individual)
informe_oc_individual = informe[filtro_oc_individual]
informe_oc_individual.to_csv('informe_oc_individual.csv', index=False)

In [19]:
oc_2_cc = guias_por_oc[guias_por_oc.values==2].index
filtro_oc_2_cc = informe['Orden de Compra'].isin(oc_2_cc)
informe_oc_2_cc = informe[filtro_oc_2_cc]
informe_oc_2_cc.to_csv('informe_oc_2_cc.csv', index=False)

In [20]:
oc_menos_de_50_cc = (guias_por_oc[(guias_por_oc.values < 50) & (guias_por_oc.values > 2)].index)
filtro_oc_menos_de_50_cc = informe['Orden de Compra'].isin(oc_menos_de_50_cc)
informe_oc_menos_de_50_cc = informe[filtro_oc_menos_de_50_cc]
informe_oc_menos_de_50_cc.to_csv('informe_oc_menos_de_50_cc.csv', index=False)

In [21]:
informe = informe.drop(informe_oc_individual.index).drop(informe_oc_2_cc.index)
informe = informe.drop(informe_oc_menos_de_50_cc.index)
informe.to_csv('informe.csv', index=False)